/* Selector {
    Propert: value;
} */

/* REFER TO CSS TRICKS WEBSITE */
body {
    background-image: url(https://images.unsplash.com/photo-1454779132693-e5cd0a216ed3?ixlib=rb-1.2.1&w=1000&q=80);
    background-size: cover;
}
h2 {
    color: red;
    text-align: center;
    border: 5px dashed purple;
}

p {
    color: pink;

}

p {
    color: green;
}
/* list-style in this case rids of bullet points */
li {
    list-style: none 
}