/* Selector {
    Propert: value;
} */

/* REFER TO CSS TRICKS WEBSITE */
body {
    /* seems that this image cannot find in another folder with relative path */
    background-image: url(slider-background-2.jpg);
    background-size: cover;
}
/* selects p directly after h2*/
/* h2 + p { */
h2 {
    color: #93002D;
    text-align: center;
    border: 5px solid rgba(255, 176, 176, 0.5);
    cursor: pointer;
}

/* selects p's within h2
h2 p {

} */

p {
    color: black !important; /* Don't use important*/

}

p {
    font-size: 125%;
    /* text-decoration: underline; */
    font-style: italic;
    font-weight: bold; 
    /* , in font-family is for different computers that may not have fonts*/
    font-family: 'Mansalva', cursive;
}
/* list-style in this case rids of bullet points */
li {
    list-style: none; 
    display: inline-block;
}
/* CLASS === . */
.webText:first-child {
    border: 5px solid green;
}

.active {
    color: #93002D;
}
/* ID === # */
#div1 {
    background: rgba(0, 0, 255, 0.2);
}

#div2 {
    background: rgba(255, 0, 0, 0.2);
}

img {
    float: left;

}

footer {
    clear: both;
    text-align: center;
}

.round {
    /* position:absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size:cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;

    /* BELOW HERE IS WHERE I WANT TO SPIN THE PICTURE */
    /* animation: spin 30s linear alternate infinite; */


    @keyframes spin {
        100%{background-position:100%}
    }

}